In [1]:
range(1, 10, 2)

range(1, 10, 2)

In [5]:
for i in range(5):
    print(1, end=" ")

1 1 1 1 1

In [ ]:
for i in range(n):
        print

In [7]:
fruits:list[str] = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
type(fruits)

list

In [8]:
n = len(fruits)
fruits[0]
fruits[1]
fruits[2]
fruits[3]
fruits[4]
fruits[5]
fruits[6]
#fruits[7]

'banana'

In [9]:
for item in fruits:
        if 'b' in item:
                print(item)

banana
banana

In [10]:
for item in fruits:
        if not 'b' in item:
                print(item)

orange
apple
pear
kiwi
apple

In [11]:
list ()

[]

In [12]:
list (range (5))

[0, 1, 2, 3, 4]

In [13]:
list ("hello: python")

['h', 'e', 'l', 'l', 'o', ':', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [14]:
fruits:tuple[str] = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
fruits

('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')

In [15]:
for item in fruits:
    print(item)

orange
apple
pear
banana
kiwi
apple
banana

In [19]:
#拆解法
(name,age,height) = ("amber",25,160)
print(name)
print(age)
print(height)

amber
25
160

In [23]:
5, 9, 8, 'a'

(5, 9, 8, 'a')

In [26]:
codes:dict[str, str] = {'tw':"Taiwan", 'jp':'Japan'}
codes

{'tw': 'Taiwan', 'jp': 'Japan'}

In [27]:
len (codes)

2

In [31]:
for item in codes:
    print(codes[item])

Taiwan
Japan

In [ ]:
set

In [33]:
{1,1,2,2,3,3}

{1, 2, 3}

In [34]:
list({1,1,2,2,3,3})

[1, 2, 3]